<!DOCTYPE html>

<head>

	<meta charset="utf-8">
	<title>My Calendar - November 13, 2013</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

</head>

<body>

	<header>

		<div class="wrapper">

			<div class="todays-date">Today's Date: <a href="#">November 13, 2013</a></div>
         <!--todays-date-->

			<div class="create-an-event"><a href="#">Create an Event</a></div><!--create-an-event-->

		</div><!--wrapper-->

	</header>

	<div class="year-header">

		<div class="wrapper">		

				<div class="year">2013</div>

		</div><!--wrapper-->

	</div><!--year-header-->

	<div class="events">

		<div class="wrapper">

			<div class="green-event">November 28th: Vacation Day</div><!--important-event-->

			<div class="blue-event">December 5th: Free Cupcakes!</div><!--important-event-->

			<div class="orange-event">December 25th: Christmas</div><!--important-event-->

			<div class="grey-event">December 26th: It's almost New Year!</div><!--important-event-->

		</div><!--wrapper-->

	</div><!--events-->

	<div class="year-header">

		<div class="wrapper">		

				<div class="year">2014</div>

		</div><!--wrapper-->

	</div><!--year-header-->

	<div class="events">

		<div class="wrapper">

			<div class="green-event">November 28th: Vacation Day</div><!--important-event-->

			<div class="blue-event">December 5th: Free Cupcakes!</div><!--important-event-->

			<div class="orange-event">December 25th: Christmas</div><!--important-event-->

			<div class="grey-event">December 26th: It's almost New Year!</div><!--important-event-->

			<div class="green-event">November 28th: Vacation Day</div><!--important-event-->

			<div class="blue-event">December 5th: Free Cupcakes!</div><!--important-event-->

			<div class="orange-event">December 25th: Christmas</div><!--important-event-->

			<div class="grey-event">December 26th: It's almost New Year!</div><!--important-event-->

			<div class="green-event">November 28th: Vacation Day</div><!--important-event-->

			<div class="blue-event">December 5th: Free Cupcakes!</div><!--important-event-->

			<div class="orange-event">December 25th: Christmas</div><!--important-event-->

			<div class="grey-event">December 26th: It's almost New Year!</div><!--important-event-->

			<div class="green-event">November 28th: Vacation Day</div><!--important-event-->

			<div class="blue-event">December 5th: Free Cupcakes!</div><!--important-event-->

			<div class="orange-event">December 25th: Christmas</div><!--important-event-->

			<div class="grey-event">December 26th: It's almost New Year!</div><!--important-event-->

		</div><!--wrapper-->

	</div><!--events-->

	<div class="year-header">

		<div class="wrapper">		

				<div class="year">2015</div>

		</div><!--wrapper-->

	</div><!--year-header-->

	<div class="events">

		<div class="wrapper">

			<div class="green-event">November 28th: Vacation Day</div><!--important-event-->

			<div class="blue-event">December 5th: Free Cupcakes!</div><!--important-event-->

			<div class="orange-event">December 25th: Christmas</div><!--important-event-->

			<div class="grey-event">December 26th: It's almost New Year!</div><!--important-event-->

		</div><!--wrapper-->

	</div><!--events-->


</body>

</html>