<!--
<div class="navbar" id="top-nav">
    <div class="row">
        <a class="toggle" gumby-trigger="#top-nav > .row > ul" href="#"><i class="icon-menu"></i></a>
        <h2 class="four columns logo"><a href="#">Yearplan</a></h2>
        
        <ul class="eight columns">
            <li><a href="#/users">Users</a></li>
            <li><a href="#/sheets">Sheets</a>
                <div class="dropdown">
                    <ul>
                        <li><a href="#/sheets/add">Add</a></li>
                        <li><a href="#/sheets/trash">Trash</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#/logout">Logout</a></li>
            <li class="field">
                <input class="search input" type="search" placeholder="Search" />
            </li>
        </ul>
    </div>
</div>
-->
<div ng-animate="{enter:'fade-enter'}" ui-view></div>