<div class="row">
   <div class="twelve columns">
      <h1>{{sheet.name}}</h1>
      <dl>
         <dt>Description</dt>
         <dd>{{sheet.descritption}}</dd>
         <dt>Location</dt>
         <dd>{{sheet.location}}</dd>
         <dt>Links</dt>
         <dd>
            <ul>
               <li ng-repeat="link in sheet.links"><a href="{{link}}">{{link}}</a></li>
            </ul>
         </dd>
         <dt>Starred</dt>
         <dd>{{sheet.starred}}</dd>
      </dl>
   </div>
</div>
<div class="events-wrapper">
     <div ui-view></div>
    <div class="year-header">

        <div class="wrapper">

            <h4 class="year">2014</h4>

        </div><!-- .wrapper -->

    </div><!-- .year-header -->

    <div class="row" ng-repeat="e in sheet.events">

        <div class="event twelve columns" style="background-color: {{e.color}}" >
            <div class="two columns">{{e.event_date}} </div>
            <div class="seven columns">{{ e.name }}</div>
            <div class="three columns">
               <a ui-sref="sheets.events.detail({sheetId:sheet.id, eventId:e.id})">
                  <i class="icon icon-eye"></i>
               </a>
               <a href=""><i class="icon icon-user"></i></a>
               <a href=""><i class="icon icon-pencil"></i></a>
               <a href=""><i class="icon icon-trash"></i></a>
            </div>
         </div><!-- .wrapper -->

    </div><!-- .events -->
</div><!-- .events-wrapper -->
<p>showing all events</p>